/node_modules/*
.DS_Store
*/.DS_Store
package-lock.json
.history
.next
.vscode
.idea
/html
dump.rdb
/server/public/latestUpload.zip
/latestTemporary.zip
temporary/*
temporary/cache/siteMenus.json
!/temporary/cache/languages.json
installation.sql
messages.sql
/server/public/upload/*